<div class="jumbotron">
        <h1 class="text-center">Article Page</h1>
      </div>
  
      <div class="container">
  
        <div class="row">
            <div class="col-sm-6">
              <p class="title">Title</p>
              <input class="form-control" type="text" id="author" placeholder="Title of Article">
              <br>
              <p class="article">Article</p>
          <textarea class="form-control" rows="3" id="article-box" placeholder="Write your article here!"></textarea>
          <button id="article-submit" class="btn btn-lg pull-right">Submit!</button>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 ">
          <h2>Submitted Articles</h2>
          <hr>
          <div id="submitted-articles"></div>
        </div>
      </div>
  
    </div>
