<form>
  <label>Name</label>
  <input id="userName" type="text">
  <br>
  <label>Email</label>
  <input id="email" type="text">
  <br>
  <label>Password</label>
  <input id="password" type="text">
  <br>
  <button>Register</button>
</form>