
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<link rel="stylesheet" href="/styles/styles.css">

<div class="row">
	<div class="input-cart col s12 m10 push-m1 z-depth-2 grey lighten-5">
		<div class="col s12 m5 login">
			<h4 style="color: white; font-weight: bold;" class="center">Log in</h4>
			<br>
			<%- include ('partials/messages') %>
			<form action="/users/login" method="post" autocomplete="off">
				<div class="row">
					<div class="input-field" style="color: white;">
						<input 
						type="text" 
						id="user" 
						name="email" 
						class="validate" 
						required="required" 
						placeholder="Email"
						/>
		<label for="user">
			<i class="material-icons">person</i>                </label>
					</div>	
				</div>
				<div class="row">
					<div class="input-field" style="color: white;">
						<input 
						type="password" 
						id="pass" 
						name="password" 
						class="validate" 
						required="required" 
						placeholder="Password"
						/>
						<label for="pass">
		<i class="material-icons">lock</i>
		</label>
					</div>	
				</div>
				<div class="row">
					<div class="switch col s6">
						<label>
							<input type="checkbox">
							<span class="lever"></span>
							Remember Me
						</label>
					</div>
					<div class="col s6">
						<button type="submit" name="login" class="btn waves-effect waves-light orange right">Log in</button>
					</div>
				</div>
			</form >
		</div>
		<!-- Signup form -->
		<div class="col s12 m7 signup">
		<div class="signupForm">
			<h4 class="center">Sign up</h4>
			<br>
			
			
			<div class="row">
				<button type="submit" name="btn-signup" class="btn orange right waves-effect waves-light">Sign Up</button>
			</div>
			</div>
			<div class="signup-toggle center" >
				<h4 style="color: white; font-weight: bold;" class="center">Have No Account ? <a href="/users/register">Sign Up</a></h4>
			</div>
		</div>
		<div class="col s12">
			<br>
		</div>
	</div>
</div>
